<h3>Important announcements</h3>
{{#each model as |announcement|}}
  <h4>{{announcement.header}}</h4>
  <p>{{announcement.text}}</p>
  <button {{action 'delete' announcement}}>Delete</button>
{{/each}}
